<div class="top-header">
  <div class="left">
    <div class="logo">
      <i class="material-icons">check_box_outline_blank</i>
    </div>
    <div class="search">
      <i class="material-icons">search</i>
      <input type="text" name="text" id="text" placeholder="Search" />
    </div>
    <div class="job">
      <i class="material-icons">add</i>
      <span>Create</span>
    </div>
    <div class="job-postings">
      <i class="material-icons">work</i>
      <span>Job Postings</span>
    </div>
    <div class="org-settings">
      <i class="material-icons">settings</i>
      <span>Organization Settings</span>
    </div>
    <div class="more">
      <div class="one"></div>
      <div class="two"></div>
      <div class="three"></div>
    </div>
  </div>
  <div class="right">
    <div class="to-ai">
      <span>Talk To AI...</span>
      <img src="assets/images/user-avater.png" alt="AI Image" />
    </div>
    <div class="message">
      <i class="material-icons">sms</i>
    </div>
    <div class="notification">
      <i class="material-icons">notifications</i>
    </div>
    <div class="profile">
      <img src="assets/images/profilepicture.jpg" alt="AI Image" />
    </div>
  </div>
</div>
